<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buy Me A Coffee</title>
    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
    <!-- Set up a container element for the button -->



    <script>

      paypal.Buttons({


        // Sets up the transaction when a payment button is clicked

        createOrder: function(data, actions) {

          return actions.order.create({

            purchase_units: [{

              amount: {

                value: '77.44' // Can reference variables or functions. Example: `value: document.getElementById('...').value`

              }

            }]

          });

        },


        // Finalize the transaction after payer approval

        onApprove: function(data, actions) {

          return actions.order.capture().then(function(orderData) {

            // Successful capture! For dev/demo purposes:

                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                var transaction = orderData.purchase_units[0].payments.captures[0];

                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');


            // When ready to go live, remove the alert and show a success message within this page. For example:

            // var element = document.getElementById('paypal-button-container');

            // element.innerHTML = '';

            // element.innerHTML = '<h3>Thank you for your payment!</h3>';

            // Or go to another URL:  actions.redirect('thank_you.html');

          });

        }

      }).render('#paypal-button-container');


    </script>


  </head>
  <body>
      <center>
    <img src="https://images.unsplash.com/photo-1546379753-abb7fd8cfb93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
       {{ form.as_p }}
       <div type="submit" id="paypal-button-container"></div> 
    </form>
    
</center>
  </body>
</html>